.burger-box {
    padding-left: 20px;
    width: 22vw;  /* Imposta una larghezza maggiore per i burger-box */
    height: 30vh; /* Imposta un'altezza maggiore per i burger-box */
    transform: skewX(-5deg); /* Inclinazione per dare l'effetto desiderato */
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.9;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Aggiunta della transizione */
}
.burger-box:hover {
    transform: skewX(-7deg); /* Inclinazione per dare l'effetto desiderato */
    opacity: 1;
}
.bg-slide {
    background-color: #04050794;
}
.carousel-inner, .carousel-item {
    height: 100%; /* Mantiene l'altezza uniforme per il carosello */
}

 img.object-fit-cover {
    object-fit: cover; /* Copre l'intera area del carosello senza deformarsi */
}

.bor-bur{
    background: url('Images/carouselimg/boring_burger.gif') no-repeat bottom right;
    background-size: 60%; /* Adatta l'immagine alle dimensioni del div */
}
.veg-bur{
    background: url('Images/carouselimg/vegan-burger.gif') no-repeat bottom right;
    background-size: 60%; /* Adatta l'immagine alle dimensioni del div */
}
.og-bur{
    background: url('Images/carouselimg/orange_burger.gif') no-repeat bottom right;
    background-size: 60%; /* Adatta l'immagine alle dimensioni del div */
}

.m4tf{
    background: url('Images/M4F/m4TF_BG.png') no-repeat bottom right;
    background-size: 100%; /* Adatta l'immagine alle dimensioni del div */
}
.not-bur{
    background: url('Images/panini/nothing_burger.png') no-repeat bottom right;
    background-size: 100%; /* Adatta l'immagine alle dimensioni del div */
}

.m4tf-box {
    padding-left: 20px;
    width: 62vw;  /* Imposta una larghezza maggiore per i burger-box */
    height: 40vh; /* Imposta un'altezza maggiore per i burger-box */
    transform: skewX(-5deg); /* Inclinazione per dare l'effetto desiderato */
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.9;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Aggiunta della transizione */
}