body {
    padding-top: 70px;
    font-family: "Montserrat", sans-serif;
    /* Spazio per la navbar fissa */
    background-image: url('Images/bg_light.gif');
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* classi asset colori */
.bg-day {
    background-color: #fbfaf8;
}

.bg-night {
    background-color: #040507;
}

.bg-y {
    background-color: #ffd748;
}

.bg-g {
    background-color: #67d185;
}

.bg-o {
    background-color: #ffb056;
}

.fnt-light {
    color: #040507;
}

.fnt-dark {
    color: #fbfaf8;
}

.txt-shadow {
    text-shadow: 2px 2px 3px #00000030;
}

.fw-900 {
    font-weight: 900;
}

/* Aggiungi una classe personalizzata per il letter-spacing */
.ls-2 {
    letter-spacing: 0.05em;
    /* Aumenta lo spazio tra le lettere */
}

/* navbar e bottoni gasati */
.navbar {
    padding: 20px;
}

.navbar-brand img {
    height: 85px;
    margin-left: 50px;
    width: auto;
}

/* spaziatore per la nav :) */
#navspacer {
    height: 85px;
}

.nav-item {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-right: 40px;
}

.nav-link {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: #040507;
    position: relative;
    padding-bottom: 5px;
    /* Spazio tra il link e l'SVG */
}

.animated-svg-line {
    display: block;
    width: 100%;
    height: 5px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

.animated {
    stroke-dasharray: 10, 10;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.5s ease;
}

.nav-link:hover+.animated-svg-line .animated {
    stroke-dashoffset: 100;
    animation: dash 2s linear infinite;
}

/* Stile generale per i link nella navbar */
.navbar-nav .nav-link {
    font-weight: 900;
    /* Rende i link bold */
    font-size: 1.25rem;
    /* Aumenta la dimensione del testo */
    margin-right: 20px;
    /* Aggiunge spazio tra i link */
    text-transform: uppercase;
    /* Nessuna decorazione di default */
}

/* Se il link è attivo, la linea è piena */
.nav-link.active+.animated-svg-line .animated {
    stroke-dasharray: none;
    /* Rimuove il tratteggio */
    stroke-dashoffset: 0;
    /* Nessun offset */
}

.navbar-nav.ms-auto {
    margin-right: 50px;
    /* Sposta i link più verso destra */
}

.button {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
    color: #040507;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    border: none;
    border-radius: 10px;
    background-color: transparent;
}

.animated-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button span {
    position: relative;
    z-index: 1;
    /* Porta il testo sopra l'SVG */
}

.animated {
    width: calc(100% - 10px);
    /* Calcola la larghezza del rettangolo in base al contenuto, meno lo spessore */
    height: calc(100% - 10px);
    /* Calcola l'altezza del rettangolo in base al contenuto, meno lo spessore */
    x: 5;
    /* Compensa lo spessore del bordo */
    y: 5;
    /* Compensa lo spessore del bordo */
    transition: all 0.5s ease;
}

.button:hover .animated {
    stroke-dashoffset: 100;
    /* Animazione su hover */
    animation: dash 2s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 200;
    }
}

/* fine nav e bottoni */

.hero {
    background-color: #fbfaf8;
    text-align: center;
}

.hero h1 {
    margin-bottom: 20px;
}

.banner {
    width: 100%;
    padding-left: 10%;
    margin-top: -20px;
    margin-right: 0px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: left;
    font-weight: 900;
    font-size: 1.8rem;
    font-style: italic;
    text-transform: uppercase;
    color: #040507
}

.article-content {
    margin-top: 30px;
    /* Spazio tra navbar e contenuto principale */
}

.map-container {
    position: relative;
    height: 400px;
    /* Altezza fissa per la mappa */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    /* Rimuovi il bordo dell'iframe */
}

.card-deck .card {
    margin-bottom: 20px;
}

.cart {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #f8f9fa;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contact-section {
    padding: 60px 0;
}

footer {
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;

}

main {
    flex: 1;
    /* Permette al main di espandersi per occupare lo spazio disponibile */
}

/* TRACCIA DINAMICA */
svg {
    width: 100%;
    height: 100%;
}

path {
    stroke: #040507;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: transparent;

    /* Impostazioni per l'animazione */
    stroke-dasharray: 10;
    /* Lunghezza dei tratti */
    stroke-dashoffset: 0;
    /* Inizia senza offset */
    animation: draw 15s linear infinite alternate;
    /* Animazione della linea */
}

/* Definizione dell'animazione */
@keyframes draw {
    from {
        stroke-dashoffset: 1000;
        /* Inizia completamente nascosto */
    }

    to {
        stroke-dashoffset: 0;
        /* Al termine, la linea è completamente visibile */
    }
}

#banner-line {
    width: 35%;
    /* Definisce la larghezza del tuo SVG */
    height: auto;
    /* Mantiene l'aspetto proporzionale */
}

#banner-line-map {
    width: 100%;
    /* Definisce la larghezza del tuo SVG */
    height: auto;
    /* Mantiene l'aspetto proporzionale */
}

#sedi-line {
    width: 35%;
    /* Definisce la larghezza del tuo SVG */
    height: auto;
    /* Mantiene l'aspetto proporzionale */
}

/* Contenitore del footer */
.custom-footer {
    width: 25%;
    /* Imposta la larghezza al 40% */
    margin-left: auto;
    /* Allinea il footer verso destra */
}

/* Span che contiene il gruppo */
#classe {
    position: relative;
    cursor: pointer;
}

/* Div che contiene i membri del gruppo (nascosto di default) */
.group-members {
    visibility: hidden;
    /* Nascosto ma mantiene il posizionamento */
    position: absolute;
    bottom: 120%;
    /* Posiziona il div sopra lo span */
    right: -20px;
    border-radius: 5px;
    width: 200px;
    opacity: 0;
    /* Opacità iniziale 0 */
    transition: opacity 1s ease, visibility 0s 1s;
    /* Animazione di fade-in */
    z-index: 1000;
    /* Porta il div sopra gli altri elementi */
}

/* Mostra il div quando si passa sopra lo span */
#classe:hover .group-members {
    visibility: visible;
    /* Rende visibile il div */
    opacity: 1;
    /* Animazione di fade-in */
    transition: opacity 1s ease;
    /* Rimuove il delay per la visibilità */
}

.banner {
    transition: background-color 0.5s ease-in-out;
}

/* Applica una transizione al logo */
#logo-img {
    transition: transform 0.3s ease-in-out;
}

/* Effetto di leggera scalatura durante il cambio */
#logo-img.scale-up {
    transform: scale(1.1);
    /* Leggero ingrandimento */
}

.card-g {
    background-color: #67d185;
}

.card-y {
    background-color: #ffd748;

}

.card-o {
    background-color: #ffb056;
}

/* body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.btn-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1000;
} */

.contact-section {
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .contact-section {
        padding-left: 40px;
        padding-right: 40px;
    }
}
